@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';

.addrBlock {
  margin-top: 20px;
  color: gray('500');
  font-size: 70%;
  font-weight: lighter;

  address {
    display: inline;
  }

  a {
    color: inherit;
    font-weight: normal;
  }

  a:hover {
    color: darken(gray('500'), 15%);
  }
}
